node_modules
.build
.vercel
.drizzle
.svelte-kit
.env.local
Flex Living - dev assessment.md
PROJECT_DEVELOPMENT_PLAN.md
data/*.db-journal
Flex Living - dev assessment.md
.gitignore
.env.vercel
vercel.json